.threads-container {
    margin-left: 250px;
    text-align: center;
    padding:10px 10px 100px 10px;
}

.threads-headers {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.threads-headers h4 {
    text-align: center;
}

.threads-headers > div {
    width: 100%;
}



.threads-vertical-grid {
   display: grid;
   gap:10px;
   padding: 0rem 1rem;
}

.threads-vertical-grid > a {
    width: 100%;
    display: flex;
    justify-content: center;

}

.threads-container div .answer-threads-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
    gap: 10px;
}